# Visual Studio
.vs/

# Racine
node_modules/
package-lock.json
package.json

# Backend
AxiaAbonnement/bin/
AxiaAbonnement/obj/
AxiaAbonnement/.vs/
AxiaAbonnement/appsettings.Development.json

# Frontend
axia-abonnement/node_modules/
axia-abonnement/.env
axia-abonnement/dist/

# ML Service
ml-service/.env
ml-service/venv/
ml-service/models/
ml-service/__pycache__/
ml-service/app/__pycache__/